/* Reset de alguns estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Estilos do rodapé */
footer {
  background-color: #141414da;
  padding: 40px 20px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

h3.text-xl {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

h4.text-lg {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ca9a62c9;
}

h4.font-semibold {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

ul.text-sm {
  font-size: 18px;
  list-style: none;
  color: #ca9a62c9;
}

ul.text-sm li {
  margin-bottom: 8px;
}

.text-sm{
  color: #fff;
  font-size: 15px;
}

ul.text-sm li span.font-bold {
  font-weight: bold;
}

/* Ícones de redes sociais */
.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.social-icons a:hover {
  color: rgb(196, 170, 122);
}

/* Estilo do rodapé final */
.termino {
  text-align: center;
  margin-top: 20px;
}

.ternmino .text-sm{
  font-size: 14px;
  color: #868686;
}

/* Responsividade */
@media (max-width: 1170px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
    margin-top: 10px;
  }

  .ternmino .text-sm {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 10px;
  }

  .footer-section h3.text-xl {
    font-size: 20px;
  }

  .footer-section h4.text-lg, .footer-section h4.font-semibold {
    font-size: 18px;
  }

  ul.text-sm {
    font-size: 15px;
  }
}
